In [1]:
import pandas as pd

In [2]:
shot_df = pd.read_csv("../data/Shots stats.csv")
standard_df = pd.read_csv("../data/Standard stats.csv")
possesion_df = pd.read_csv("../data/Possesion Stats.csv")
def_df = pd.read_csv("../data/Defensive Action.csv")

In [27]:
shot_df

,Player,Pos,Squad,Age,90s,Goals,Shots,Shots on Target,Avg Shot Distance,Free kick shots,PK shots,PK attempts,xG
0,Max Aarons,DF,Bournemouth,24.0,1.0,0.00,0.00,0.00,NaN,0.00,0.00,0.00,0.00
1,Joshua Acheampong,DF,Chelsea,18.0,1.9,0.00,1.05,0.00,8.9,0.00,0.00,0.00,0.11
2,Tyler Adams,MF,Bournemouth,25.0,21.8,0.00,0.41,0.09,16.9,0.00,0.00,0.00,0.07
3,Tosin Adarabioyo,DF,Chelsea,26.0,15.7,0.06,0.83,0.13,12.5,0.00,0.00,0.00,0.06
4,Simon Adingra,"FW,MF",Brighton,22.0,12.2,0.16,2.70,0.66,17.0,0.00,0.00,0.00,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Ashley Young,DF,Everton,39.0,20.8,0.05,0.29,0.14,24.5,0.14,0.00,0.00,0.01
570,Illia Zabarnyi,DF,Bournemouth,21.0,34.5,0.00,0.35,0.03,9.8,0.00,0.00,0.00,0.04
571,Oleksandr Zinchenko,"DF,MF",Arsenal,27.0,5.9,0.00,1.69,0.00,19.6,0.17,0.00,0.00,0.10
572,Joshua Zirkzee,"FW,MF",Manchester Utd,23.0,15.6,0.19,1.79,0.71,13.1,0.00,0.00,0.00,0.31
573,Martin Ødegaard,MF,Arsenal,25.0,25.8,0.12,1.86,0.58,19.2,0.12,0.04,0.04,0.19

In [19]:
def_df.describe()

,Age,Tackles,Tackles in Def 3rd,Tackles in Mid 3rd,Tackles in Att 3rd,Blocks,Interceptions
count,573.000000,574.000000,574.000000,574.000000,574.000000,574.000000,574.000000
mean,25.047120,1.832439,0.861463,0.696847,0.274355,1.014652,0.726655
std,4.494699,2.129002,1.493993,1.115898,0.563808,0.999100,0.879292
min,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,0.890000,0.182500,0.210000,0.000000,0.490000,0.162500
50%,25.000000,1.530000,0.630000,0.560000,0.180000,0.960000,0.580000
75%,28.000000,2.417500,1.130000,0.920000,0.350000,1.330000,1.030000
max,39.000000,30.000000,20.000000,20.000000,10.000000,10.000000,10.000000

In [22]:
standard_df

,Player,Pos,Squad,Age,Min,Gls,Ast,Progressive Carries,Progressive Passes,Progressive Passes Recieved
0,Max Aarons,DF,Bournemouth,24.0,86,0.00,0.00,1.00,8.00,3.00
1,Joshua Acheampong,DF,Chelsea,18.0,170,0.00,0.00,0.00,4.21,0.00
2,Tyler Adams,MF,Bournemouth,25.0,1965,0.00,0.14,0.64,3.49,0.46
3,Tosin Adarabioyo,DF,Chelsea,26.0,1409,0.06,0.06,0.32,2.68,0.06
4,Simon Adingra,"FW,MF",Brighton,22.0,1097,0.16,0.16,4.10,1.48,11.10
...,...,...,...,...,...,...,...,...,...,...
569,Ashley Young,DF,Everton,39.0,1875,0.05,0.14,1.15,4.33,1.54
570,Illia Zabarnyi,DF,Bournemouth,21.0,3109,0.00,0.03,0.78,4.06,0.12
571,Oleksandr Zinchenko,"DF,MF",Arsenal,27.0,527,0.00,0.17,1.69,8.14,2.37
572,Joshua Zirkzee,"FW,MF",Manchester Utd,23.0,1402,0.19,0.06,0.90,2.82,4.42
573,Martin Ødegaard,MF,Arsenal,25.0,2325,0.12,0.31,3.57,10.00,5.97

In [24]:
possesion_df

,Player,Pos,Squad,Age,Touches,Touches in Def Pen,Touches in Def 1/3,Touches in Mid 1/3,Touches in Att 1/3,Att Pen,Live ball touches
0,Max Aarons,DF,Bournemouth,24.0,73.0,2.00,19.00,40.0,15.00,0.00,73.0
1,Joshua Acheampong,DF,Chelsea,18.0,72.1,3.68,25.30,42.6,4.21,1.58,72.1
2,Tyler Adams,MF,Bournemouth,25.0,61.3,2.84,16.00,35.7,10.30,0.83,61.3
3,Tosin Adarabioyo,DF,Chelsea,26.0,84.7,11.10,40.10,42.9,1.72,0.89,84.7
4,Simon Adingra,"FW,MF",Brighton,22.0,44.9,0.82,5.41,14.3,25.80,6.23,44.9
...,...,...,...,...,...,...,...,...,...,...,...
569,Ashley Young,DF,Everton,39.0,57.4,2.93,17.70,25.4,14.70,0.43,57.4
570,Illia Zabarnyi,DF,Bournemouth,21.0,59.8,6.78,26.90,31.2,2.23,0.46,59.8
571,Oleksandr Zinchenko,"DF,MF",Arsenal,27.0,84.6,2.71,14.60,39.5,30.70,3.39,84.6
572,Joshua Zirkzee,"FW,MF",Manchester Utd,23.0,37.6,1.03,4.55,19.4,14.00,3.59,37.6
573,Martin Ødegaard,MF,Arsenal,25.0,65.7,0.35,4.88,27.4,33.90,4.46,65.6

In [8]:
standard = standard_df[standard_df["Min"] >= 300]

TypeError: '>=' not supported between instances of 'str' and 'int'

In [9]:
standard_df["Min"].head()
standard_df["Min"].dtype

dtype('O')

In [10]:
standard_df["Min"] = (
    standard_df["Min"]
    .str.replace(",", "", regex=False)
    .astype(int)
)

In [11]:
standard_df['Min'].dtype

dtype('int64')

In [15]:
standard = standard_df[standard_df["Min"] >= 300]
standard = standard.reset_index(drop=True)

In [16]:
standard

,Player,Pos,Squad,Age,Min,Gls,Ast,Progressive Carries,Progressive Passes,Progressive Passes Recieved
0,Tyler Adams,MF,Bournemouth,25.0,1965,0.00,0.14,0.64,3.49,0.46
1,Tosin Adarabioyo,DF,Chelsea,26.0,1409,0.06,0.06,0.32,2.68,0.06
2,Simon Adingra,"FW,MF",Brighton,22.0,1097,0.16,0.16,4.10,1.48,11.10
3,Emmanuel Agbadou,DF,Wolves,27.0,1410,0.06,0.00,0.38,1.97,0.13
4,Ola Aina,DF,Nottingham Forest,27.0,2995,0.06,0.03,2.01,3.21,2.01
...,...,...,...,...,...,...,...,...,...,...
432,Ashley Young,DF,Everton,39.0,1875,0.05,0.14,1.15,4.33,1.54
433,Illia Zabarnyi,DF,Bournemouth,21.0,3109,0.00,0.03,0.78,4.06,0.12
434,Oleksandr Zinchenko,"DF,MF",Arsenal,27.0,527,0.00,0.17,1.69,8.14,2.37
435,Joshua Zirkzee,"FW,MF",Manchester Utd,23.0,1402,0.19,0.06,0.90,2.82,4.42
436,Martin Ødegaard,MF,Arsenal,25.0,2325,0.12,0.31,3.57,10.00,5.97

In [17]:
standard["Min"].describe()

count     437.000000
mean     1688.297483
std       922.034395
min       303.000000
25%       860.000000
50%      1655.000000
75%      2482.000000
max      3420.000000
Name: Min, dtype: float64

In [23]:
standard = standard.rename(columns={
    "Player": "player",
    "Squad": "team",
    "Min": "minutes",
})

In [25]:
possession = possesion_df.rename(columns={
    "Player": "player",
    "Touches": "touches",
    "Touches in Def Pen": "touches_def_pen",
    "Touches in Def 1/3": "touches_def_3rd",
    "Touches in Mid 1/3": "touches_mid_3rd",
    "Touches in Att 1/3": "touches_att_3rd",
    "Att Pen": "touches_att_pen"
})

In [26]:
defense = def_df.rename(columns={
    "Player": "player",
    "Tackles": "tackles",
    "Interceptions": "interceptions"
})

In [28]:
shot = shot_df.rename(columns={
    "Player": "player",
    "Shots": "shots",
    "xG": "xg"
})

In [31]:
df = (
    standard[["player", "team", "minutes"]]
    .merge(
        possession[[
            "player",
            "touches",
            "touches_def_pen",
            "touches_def_3rd",
            "touches_mid_3rd",
            "touches_att_3rd",
            "touches_att_pen"
        ]],
        on="player",
        how="inner"
    )
    .merge(
        defense[["player", "tackles", "interceptions"]],
        on="player",
        how="inner"
    )
    .merge(
        shot[['player', 'shots', 'xg']],
        on="player",
        how="inner"
    )
)

In [32]:
df.shape

(542, 13)

In [33]:
df.isna().sum()

player             0
team               0
minutes            0
touches            0
touches_def_pen    0
touches_def_3rd    0
touches_mid_3rd    0
touches_att_3rd    0
touches_att_pen    0
tackles            0
interceptions      0
shots              0
xg                 0
dtype: int64

In [34]:
df.head()

,player,team,minutes,touches,touches_def_pen,touches_def_3rd,touches_mid_3rd,touches_att_3rd,touches_att_pen,tackles,interceptions,shots,xg
0,Tyler Adams,Bournemouth,1965,61.3,2.84,16.00,35.7,10.30,0.83,3.81,1.47,0.41,0.07
1,Tosin Adarabioyo,Chelsea,1409,84.7,11.10,40.10,42.9,1.72,0.89,1.08,0.70,0.83,0.06
2,Simon Adingra,Brighton,1097,44.9,0.82,5.41,14.3,25.80,6.23,1.89,0.66,2.70,0.20
3,Emmanuel Agbadou,Wolves,1410,74.6,12.10,41.30,32.1,1.78,0.45,1.91,0.76,0.45,0.05
4,Ola Aina,Nottingham Forest,2995,51.3,4.68,18.40,21.5,12.30,0.66,1.65,0.99,0.33,0.02

In [35]:
df["touches_def_3rd_pct"] = df["touches_def_3rd"] / df["touches"]
df["touches_mid_3rd_pct"] = df["touches_mid_3rd"] / df["touches"]
df["touches_att_3rd_pct"] = df["touches_att_3rd"] / df["touches"]
df["touches_att_pen_pct"] = df["touches_att_pen"] / df["touches"]

In [36]:
df.head()

,player,team,minutes,touches,touches_def_pen,touches_def_3rd,touches_mid_3rd,touches_att_3rd,touches_att_pen,tackles,interceptions,shots,xg,touches_def_3rd_pct,touches_mid_3rd_pct,touches_att_3rd_pct,touches_att_pen_pct
0,Tyler Adams,Bournemouth,1965,61.3,2.84,16.00,35.7,10.30,0.83,3.81,1.47,0.41,0.07,0.261011,0.582382,0.168026,0.013540
1,Tosin Adarabioyo,Chelsea,1409,84.7,11.10,40.10,42.9,1.72,0.89,1.08,0.70,0.83,0.06,0.473436,0.506494,0.020307,0.010508
2,Simon Adingra,Brighton,1097,44.9,0.82,5.41,14.3,25.80,6.23,1.89,0.66,2.70,0.20,0.120490,0.318486,0.574610,0.138753
3,Emmanuel Agbadou,Wolves,1410,74.6,12.10,41.30,32.1,1.78,0.45,1.91,0.76,0.45,0.05,0.553619,0.430295,0.023861,0.006032
4,Ola Aina,Nottingham Forest,2995,51.3,4.68,18.40,21.5,12.30,0.66,1.65,0.99,0.33,0.02,0.358674,0.419103,0.239766,0.012865

In [37]:
df[[
    "touches_def_3rd_pct",
    "touches_mid_3rd_pct",
    "touches_att_3rd_pct"
]].describe()

       touches_def_3rd_pct  touches_mid_3rd_pct  touches_att_3rd_pct
count           542.000000           542.000000           542.000000
mean              0.305837             0.420450             0.284927
std               0.227807             0.134624             0.199155
min               0.000000             0.000000             0.000000
25%               0.138881             0.371053             0.086753
50%               0.241640             0.444558             0.268161
75%               0.408602             0.510476             0.454082
max               1.000000             0.646209             0.763052

In [38]:
features = [
    # Spatial role
    "touches_def_3rd_pct",
    "touches_mid_3rd_pct",
    "touches_att_3rd_pct",
    "touches_att_pen_pct",

    # Activity & intensity
    "touches",
    "tackles",
    "interceptions",

    # Threat
    "shots",
    "xg"
]

In [39]:
X = df[features].dropna()

In [41]:
X

,touches_def_3rd_pct,touches_mid_3rd_pct,touches_att_3rd_pct,touches_att_pen_pct,touches,tackles,interceptions,shots,xg
0,0.261011,0.582382,0.168026,0.013540,61.3,3.81,1.47,0.41,0.07
1,0.473436,0.506494,0.020307,0.010508,84.7,1.08,0.70,0.83,0.06
2,0.120490,0.318486,0.574610,0.138753,44.9,1.89,0.66,2.70,0.20
3,0.553619,0.430295,0.023861,0.006032,74.6,1.91,0.76,0.45,0.05
4,0.358674,0.419103,0.239766,0.012865,51.3,1.65,0.99,0.33,0.02
...,...,...,...,...,...,...,...,...,...
537,0.308362,0.442509,0.256098,0.007491,57.4,2.79,1.20,0.29,0.01
538,0.449833,0.521739,0.037291,0.007692,59.8,1.51,1.19,0.35,0.04
539,0.172577,0.466903,0.362884,0.040071,84.6,1.02,0.85,1.69,0.10
540,0.121011,0.515957,0.372340,0.095479,37.6,0.90,0.38,1.79,0.31
541,0.074277,0.417047,0.515982,0.067884,65.7,0.74,0.23,1.86,0.19